.chosen {
	background-color: rgba(212, 252, 35, .5);
}

.space {
	margin-right: 5rem;
}

.window {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
	padding: 2rem;
	font-size: 1.8rem;
	color: #303030;
	background-color: #FFF;
	height: 80%;
	width: 40%;
	text-align: center;
	border-radius: .3rem;
}

header {
	margin-bottom: 1rem;
	display: block;
	font-weight: bold;
}

button {
	margin: 3.5rem 2rem 0 0;
	background-image: linear-gradient(#D4FC23, #416D00);
	color: #202020;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: bold;
	border: none;
	padding: .8rem 4rem;
	border-radius: .3rem;
	text-align: center;
}


.back {
	background-image: linear-gradient(#FFC700, #FF6200);
}

.confirmBtn {
	margin-right: 0;
}

div.open {
	visibility: visible;
}

div.modal div.show {
	display: flex;
}

div.reserved {
	background-color: #101010;
	color: #555;

	&:hover {
		background-color: #101010;
		color: #555;
		opacity: 1;
		cursor: not-allowed;
	}
}