body {
	background-color: #303030;
	font-family: 'Roboto', sans-serif;

	.wrapper {
		height: 100vh;
		min-width: 100vw;
		max-height: 65rem;
		position: relative;
		box-sizing: border-box;

		.screen {
			width: 80%;
			height: 20px;
			background-color: #EFEFEF;
			color: #505050;
			box-shadow: 0 0 1.5rem 1rem rgba(255, 255, 255, .5);
			margin: 0 auto;
			text-transform: uppercase;
			font-size: 2rem;
			letter-spacing: .1rem;
			text-align: center;
			border-radius: 0 0 .2rem .2rem;
		}

		.seats {
			position: relative;
			top: 15%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.row {
				display: flex;

				p {
					position: relative;
					left: -2rem;
					color: #FFF;
					font-size: 1.6rem;
					line-height: 4.5rem;
					margin: 0;
				}

				&:nth-child(3) {
					margin-bottom: 5rem;
				}
			}
		}

		button {
			position: absolute;
			bottom: 1.5rem;
			left: 50%;
			transform: translateX(-50%);
			background-image: linear-gradient(#D4FC23, #416D00);
			color: #202020;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.6rem;
			border: none;
			padding: 1rem 5rem;
			border-radius: .3rem;
		}
	}

	.seat {
		border: 2px solid #000;
		width: 4.5rem;
		height: 4.5rem;
		color: #FFF;
		text-align: center;
		line-height: 4.5rem;
		border-radius: .3rem;
		box-sizing: border-box;
		font-size: 1.6rem;

		&:hover {
				background-color: #CEFC00;
				opacity: .7;
				color: #000;
			}
	}

	.modal {
		visibility: hidden;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient( rgba(0, 0, 0, .5),
					rgba(0, 0, 0, .5));

		.confirm {
			display: none;

			p {
				margin: 0 0 3rem 0;
			}

			form {
				width: 85%;

				label {
					display: block;
					text-align: left;
					font-size: 1.7rem;
				}

				input[type="text"] {
					display: block;
					margin-bottom: 3rem;
					width: 60%;
					padding: .8rem .5rem;
					font-size: 1.7rem;
					color: #303030;
				}
			}
		}

		.summary {
			display: none;
			justify-content: space-around;

			p {
				margin: 0 0 5rem 0;
			}
		}
	}
}