html, body {
	padding: 0;
	margin: 0;
	font-size: 10px;
}

body {
	background: radial-gradient(#888, #101010) fixed;
	font-family: 'Roboto', sans-serif;
	color: #FFF;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.wrapper {
		box-sizing: border-box;
		min-height: 1rem;
		margin-left: 20rem;

		.screen {
			width: 100%;
			background-color: #EFEFEF;
			color: #505050;
			box-shadow: 0 0 1.5rem 1rem rgba(255, 255, 255, .5);
			margin: 0 auto;
			text-transform: uppercase;
			font-size: 2rem;
			letter-spacing: .1rem;
			text-align: center;
			border-radius: 0 0 .2rem .2rem;
		}

		.seats {
			margin: 6rem 0 3rem -.8rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.row {
				display: flex;

				p {
					position: relative;
					left: -2rem;
					color: #FFF;
					font-size: 1.6rem;
					line-height: 4.5rem;
					margin: 0;
				}

				&:nth-child(3) {
					margin-bottom: 5rem;
				}
			}
		}

		button {
			background-image: $btnGradient;
			color: #FFF;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.6rem;
			border: none;
			padding: 1rem 8rem;
			border-radius: .2rem;
			display: block;
			visibility: hidden;
			margin: 0 auto 1rem;
			cursor: pointer;
		}
	}

	.seat {
		border: 1px solid #000;
		width: 4.5rem;
		height: 4.5rem;
		text-align: center;
		line-height: 4.5rem;
		box-sizing: border-box;
		font-size: 1.6rem;
		background-color: #202020;

		&:hover {
			background: $userImg, #585756;
			background-size: cover;
			color: transparent;
			cursor: pointer;
		}
	}

	aside {
		min-width: 20rem;

		.legend {
			list-style-type: none;
			padding-left: 5rem;
			margin: 0;

			li {
				margin: 1.5rem 0;
				font-size: 1.6rem;
				display: table;

				span {
					display: table-cell;
					vertical-align: middle;
					padding-left: 1.2rem;
				}
			}
		}
	}

	.modal {
		visibility: hidden;
		height: 100vh;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $overlay;

		.confirm {
			display: none;

			span {
				margin-top: .5rem;
				display: block;
				font-size: 1.7rem;
			}

			p {
				margin: 3rem 0;
			}

			form {
				width: 85%;

				label {
					display: block;
					text-align: left;
					font-size: 1.7rem;
				}

				input[type="text"],
				input[type="tel"] {
					display: block;
					margin-bottom: 3rem;
					width: 60%;
					padding: .8rem .5rem;
					font-size: 1.7rem;
					color: #303030;
				}
			}
		}

		.summary {
			display: none;
			justify-content: space-around;

			p {
				margin-top: -4rem;
			}
		}
	}
}